<a href="https://colab.research.google.com/github/AdityaR1306/python101/blob/main/Assingnment_10_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [ ]:
#@title Lists: An Introduction

#Data Type
#List Type

In [1]:
#@title 1.Creating an empty list
x = []
x

[]

In [2]:
#@title 2.Creating a list with some elements
x = ['Aditya','Dad','Mom']
x

['Aditya', 'Dad', 'Mom']

In [6]:
#@title 3.Adding elements at the end
x = ['Aditya','Dad','Mom']
x.append(737)
x.append(43)
x.append(99)
x.append('sam')
x.append(420)
x

['Aditya', 'Dad', 'Mom', 737, 43, 99, 'sam', 420]

In [8]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"

['Aditya', 'Dad', 'Mom', 737, 43, 99, 'sam', 420]
fourth_element = x[3]
fourth_element

737

In [15]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"

['Aditya', 'Dad', 'Mom', 737, 43, 99, 'star', 420,'yeet', 'Duck', 'Master', 77, 403, 959, 'saam', 7820]

element_2nd_last = x[-2]
print(element_2nd_last)

sam

In [18]:
#@title 6.Adding an element at the front of the list
x = [99,27,351]

# Adding element 420 at 2nd position
x.insert(1,420)
print(x)

# Adding element 'arsenic' at 1st position
x.insert(0,'arsenic')
x

[99, 420, 27, 351]

['arsenic', 99, 420, 27, 351]

In [20]:
#@title 8.Updating (or Replacing) an element
x = [99,27,351]
print(x)

# replacing the 1st element with 63
x[0] = 63
print(x)

[99, 27, 351]
[63, 27, 351]

In [29]:
#@title 9.Looping through the list (just for READING)

list_1 = [99,27,351, 4798703, 23, 9978]

for x in list_1:
  print(x)



# finding the sum of this list\
list_1 = [99,27,351, 4798703, 23, 9978]

sum_of_list = 0
for x in list_1:
  sum_of_list = sum_of_list + x

print('Sum of all the numbers in this list is : ', sum_of_list)

# Solving this using functions
print()
print()
print()
print()

sum_ = sum(list_1)
print('Sum of all the numbers in this list is : ', sum_of_list)

99
27
351
4798703
23
9978
Sum of all the numbers in this list is :  4809181




Sum of all the numbers in this list is :  4809181

In [35]:
#@title 10.Looping through the list (for UPDATING)

list_1 = [9,4,2,7,6,3,5,8,1,13,17]
print(list_1)

length_of_list = len(list_1)

for x in range(length_of_list):
  accessed_element = list_1[x]
  #print(accessed_element)
  list_1[x] = accessed_element + 11

print(list_1)

[20, 15, 13, 18, 17, 14, 16, 19, 12, 24, 28]

In [ ]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list

In [ ]:
#@title 12.Common Operations: Find the maximum in the list

In [ ]:
#@title 13.Common Operations: Find the minimum in the list

In [ ]:
#@title 14.Common Operations: Find the sum of elements in the list

In [ ]:
#@title 14.Removing an element by value

In [ ]:
#@title 15.Removing the last element in the list

In [ ]:
#@title 16.Removing an element at a given index

In [ ]:
#@title 17.Extending a list
#(Adding several elements to one list)

In [ ]:
#@title 18.Search for an element. What is the index?

In [ ]:
#@title 19.Count the number of times an element is appearing

In [ ]:
#@title 20.Checking for Membership (in)

54.3 ns ± 5.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
#@title 21.Checking for Membership (not in)

In [ ]:
#@title 22.Reverse a list

In [ ]:
#@title 23.Sort a list

In [ ]:
#@title 24.Copy a list (Caution: Don't reassign)

In [ ]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

In [ ]:
#@title 26.Delete the entire list

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists